<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386231744528-0fbdrrsb3gdgf6nefvurea25ma9b01r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386231744528-0fbdrrsb3gdgf6nefvurea25ma9b01r3</string>
	<key>API_KEY</key>
	<string>AIzaSyC7bQ3DqkpdiL-6QmfrvkenpUKbL_1GnL4</string>
	<key>GCM_SENDER_ID</key>
	<string>386231744528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ED.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-fb835</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-fb835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386231744528:ios:92d316fca80357c7053295</string>
</dict>
</plist>